* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    display: flex;
    align-items: center;
    font-family: monospace;
    color: black;
    margin-top: 10em;
    flex-direction: column;
}

fieldset {
    display: flex;
}

form {
    padding: 1em;
}

legend {
    font-size: 2em;
    margin:0 auto;
    font-weight: bold;
}

input {
    border-width: 2px;
    margin:0 auto;
    text-align: center; 
}

button {
    background-color: transparent;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

label {
    margin:0 auto;
    margin: 0.8em;
    text-align: center;
    font-size: 1.2em;
}

form {
    display: flex;
    flex-direction: column;
}

#myInputautocomplete-list{
    position: absolute;  
    
}

#myInputautocomplete-list > div {
    background-color: white;
    border-color: black;
}



#myInputautocomplete-list > div:hover {
    font-weight: bolder;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
}

input:focus, input.form-control:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

#message {
    margin: 0 auto;
}
